<div class="collapsible-header">
    <i class="material-icons">{{resource.icon}}</i>
    {{resource.description}}
</div>
<div class="collapsible-body">
    <p>
        {{#material-boxed}}
            <img class="materialboxed" width="100%" src="{{resource.text}}" alt="" />
        {{/material-boxed}}
    </p>
</div>

