{{!-- Need to pass in data! --}}
<div>
    <ul class="collapsible" data-collapsible="collapsible">
        {{#each resources as |resource|}}
            <li>
              <div class="collapsible-header"><i class="material-icons">photo</i>Image Resource {{resource.text}}</div>
              <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
        {{/each}}
    </ul>
</div>
