<div class="collapsible-header">
    <i class="material-icons">{{resource.icon}}</i>
    <a href="{{resource.text}}">{{resource.description}}</a>
    <a href="#!" class="secondary-content"><i class="material-icons secondary-content">favorite_border</i></a>
</div>
