<div class="collapsible-header">
    <i class="material-icons">{{resource.icon}}</i>
    {{resource.description}}
</div>
<div class="collapsible-body">
    <p>
        {{material-boxed src=resource.text}}
    </p>
</div>

