<div class="collapsible-header">
    <i class="material-icons">{{resource.icon}}</i>
    {{resource.description}}
</div>
<div class="collapsible-body">
    <p>
        {{#if resource.map.svg_data.isPending}}
            Loading...
        {{else}}
            {{resource.map.retrieved_svg_data}}
        {{/if}}
    </p>
</div>
