{{!-- Need to pass in data! --}}
<div>
    <ul class="collapsible" data-collapsible="collapsible">
        {{#each resources as |resource|}}
            <li>
              <div class="collapsible-header"><i class="material-icons">{{resource.icon}}</i>{{resource.resource_type}}</div>
              <div class="collapsible-body"><p>{{resource.text}}</p></div>
            </li>
        {{/each}}
    </ul>
</div>
