// Fix for Roboto font path
$roboto-font-path: '../assets/';

// Materialize styles
@import "materialize";

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.title-heading {
    display: inline-block;
    font-style: italic;
}

.author-heading {
    display: inline-block;
    margin-left: 30px;
    font-weight: lighter;
}
