<div class="container">
    <h1>Add New Title</h1>
    {{input valueBinding="model.title" placeholder="Title"}}
    {{input valueBinding="model.author" placeholder="Author"}}
    <a class="waves-effect waves-light btn" {{action 'submitAction'}}><i class="material-icons right">done</i>Create</a>
</div>
