<div class="container">
    <div class="card-panel blue-grey lighten-3">
        <div class="card-content white-text">
            <span class="card-title">Welcome!</span>
            <p class="flow-text">Placeholder welcome message</p>
        </div>
        <div class="card-action">
            {{#link-to 'titles'}}See all titles{{/link-to}}
        </div>
    </div>
</div>
