<div class="container">
    <h1>Titles</h1>
    <div>
        <table class="bordered highlight">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>DATA GOES</td>
                    <td>HERE</td>
                </tr>
                <tr>
                    <td>AND HERE</td>
                    <td>...</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
