<div class="container">
    <h1>Titles</h1>
    <div>
        <table class="bordered highlight">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                </tr>
            </thead>
            <tbody>
                {{#each model as |listing|}}
                    <tr class="titles-entry" style="cursor: pointer;">
                        <td>{{listing.title}}</td>
                        <td>{{listing.author}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
